= form_for @customer do |form|
	- if @customer.errors.any?
		.col-md-11.mx-2.alert-danger
			%h4
				= "#{pluralize(@customer.errors.count, 'error')} prohibited this post from being saved"
			%ul
				- @customer.errors.each do |error|
					%li
						= error.full_message
	.row
		.col-md-12
			=form.label :name, "Customer Name :",class:'col-md-3 text_label' 
			=form.text_field :name, placeholder:"Enter Customer Name ",class:'col-md-9 form_text'
		.col-md-12
			=form.label :address, "Customer Address :",class:'col-md-3 text_label'
			=form.text_area :address, placeholder:"Enter Address",rows:'5',cols:'30',class:'col-md-9 form_text'
		.col-md-12
			=form.label :contact_number, "Contact Number:",class:'col-md-3 text_label'
			=form.text_field :contact_number, placeholder:"Enter Contact Number",rows:'5',cols:'30',class:'col-md-9 form_text'
		.col-md-12
			=form.label :email_id, "Email ID :", class:'col-md-3 text_label'
			=form.text_field :email_id, class:'col-md-9 form_text'

		.col-md-12
			=form.submit "Save Customer Name", class:'save_button'