.display-5
	Details of Customer
.m-3
	Customer Name :
	= @customer.name
.m-3
	Customer Address :
	= @customer.address
.m-3
	Contact Number :
	= @customer.contact_number
.m-3
	Email Id :
	= @customer.email_id

