%h1 Orders
=@order.to_json
%p
/ .col-md-12
/     %table.table
/         %thead
/             %tr
/                 %th Restaurant Name
/                 %th Dish Name
/         %tbody
/             - if

=link_to "New Order",new_order_path