.display-5
	Details of Orders
.m-3
	Customer Name :
	= @order.customer[:name]
.m-3
	Restaurant Name :
	= @order.restaurant[:name]
.m-3
	Menu Item :
	= @order.menu[:name]
.m-3
	Order Status :
	= @order.status
